@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Yantramanav&display=swap');

/* Requisito 2 */
#title {
  font-family: 'Yantramanav', sans-serif;
  margin-left: 15px;
  margin-bottom: 0px;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  border: 1px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Requisito 5 */
.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: black 1px solid;
  display: inline-block;
}

#pixel-board {
  margin-top: 15px;
  margin-left: 13px;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.86);
  box-shadow: 2px 2px 10px 0 black;
}

button {
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7px 15px;
  margin: 0 10px;
  border-radius: 15px;
  border: none;
}

body {
  background-color: rgb(237, 244, 246);
}

#clear-board {
  margin: 0 150px;
  position: absolute;
}

#position {
  margin-left: 25px;
}

#board-size {
  padding: 7px 0 7px 15px;
  border-radius: 15px;
}
